name: build

on:
  push:
    paths: [ '.github/workflows/build.yml', 'XamlIslandsCpp.slnx', 'publish.py', 'src/**' ]
  pull_request:
    paths: [ '.github/workflows/build.yml', 'XamlIslandsCpp.slnx', 'publish.py', 'src/**' ]

jobs:
  build:
    runs-on: windows-2025-vs2026
    strategy:
      matrix:
        compiler: ["MSVC", "ClangCL"]
        platform: ["x64", "ARM64"]
        packaged: ["unpackaged", "packaged"]

    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    
    - name: Build
      run: |
        $packagedOption = "${{ matrix.packaged }}" -eq "packaged" ? "--packaged" : $null
        python scripts/publish.py --compiler=${{ matrix.compiler }} --platform=${{ matrix.platform }} $packagedOption

    - name: Store build
      if: ${{ matrix.packaged == 'unpackaged' }}
      uses: actions/upload-artifact@v5
      with: 
          name: XamlIslandsCpp-${{ matrix.compiler }}-${{ matrix.platform }}
          path: ./publish/${{ matrix.platform }}

    - name: Store build
      if: ${{ matrix.packaged == 'packaged' }}
      uses: actions/upload-artifact@v5
      with: 
          name: XamlIslandsCpp-${{ matrix.compiler }}-${{ matrix.platform }}-sideload
          path: ./publish/${{ matrix.platform }}-sideload
